BOT_USERNAME=
TG_TOKEN=
API_URL=
ADMIN_IDS=id1,id2
NEWS_PASSWORD=

# DATABASE
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

#CERTIFICATES
DATABASE_CA=""
DATABASE_CERT=""
DATABASE_KEY=""