.tgme_widget_message_bubble {
  position: relative;
  border: 1px solid #d7e3ec;
  border-radius: 0 10px 10px 10px;
  background: #fff;
  padding: 12px 17px;
}
.tgme_widget_message_bubble {
  margin-left: 45px;
}
.no_userpic .tgme_widget_message_bubble {
  margin-left: 7px;
}
.tgme_widget_message_bubble_tail {
  pointer-events: none;
  position: absolute;
  left: -8px;
  top: -1px;
}
.tgme_widget_message_bubble_tail .background {
  pointer-events: auto;
  fill: #fff;
}
.tgme_widget_message_bubble_tail .border_1x {
  fill: #d7e3ec;
}
.tgme_widget_message_author {
  font-size: 16px;
  line-height: 23px;
  margin: -2px 0;
  color: #2481cc;
  text-align: left;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.widget_frame_base .tgme_widget_message_author a,
.widget_frame_base .tgme_widget_message_author a:hover {
  color: inherit;
}
.tgme_widget_message_owner_name {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}
.tgme_widget_message_photo_wrap {
  display: block;
  background: no-repeat -10000px -10000px;
  background-size: 0 0;
  margin: 12px -17px;
  min-width: calc(100% + 34px) !important;
  max-width: calc(100% + 34px) !important;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.tgme_widget_message_photo_wrap:hover {
  text-decoration: none;
}
.tgme_widget_message_text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 21px;
  word-break: break-word;
  margin-top: 6px;
}
.tgme_widget_message_text b {
  font-weight: 500;
}
.tgme_widget_message_text code,
.tgme_widget_message_text pre {
  font-family: monospace;
  white-space: normal;
  /*color: #4e7391;*/
}
.tgme_widget_message_text pre {
  padding: 0;
  margin: 0;
}
.tgme_widget_message_author, .tgme_widget_message_text {
  font-size: 14px;
  line-height: 20px;
  margin: -2px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
}